@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bungee+Tint&family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Grey+Qo&family=Hind+Siliguri:wght@300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Matemasie&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Moderustic:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nanum+Gothic:wght@400;700;800&family=New+Amsterdam&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sedan:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'caveat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.6;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    object-fit: cover;
}

.content-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

input, button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
}

input {
    width: 70%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #0f0202;
}

input::placeholder {
    color: rgba(14, 2, 2, 0.7);
    text-align: center;
}

button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    cursor: pointer;
    transition: 0.8s ease-in-out;
}

button:hover {
    background-color: rgba(225, 225, 225,.3);
    transform: scale(.9);
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

#current-weather, #forecast {
    background-color: rgba(80, 80, 80, 0.1);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
}

.forecast-day {
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 12px 10px 14px rgba(0, 0, 0, 0.9);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

@media (max-width: 600px) {
    .forecast-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    
    .forecast-day {
        padding: 10px;
        font-size: 0.9em;
    }
}

.heart {
    color: rgba(204, 0, 0, .9);
}

footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin-top: 50px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }

    #current-weather, #forecast {
        flex: 1;
    }

    input {
        width: 300px;
    }
}

@media (max-width: 767px) {
    .content-wrapper {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    input, button {
        width: 100%;
        margin-bottom: 10px;
    }
}